<article class="post">
    <div class="whole-post">
        <div class="info-section">
            <div class="post-name">
                <p id="comment-subtitle">
                <h1 id="movie-title">{{movie.title}}</h1>
                </p>
            </div>
            <div class="created-by">
                <p id="comment-subtitle">
                    Posted by <b>{{user.username}} </b> on <b>{{formatDate created_at}}</b>
                </p>
            </div>
        </div>
        <div class="content-section">
            <b id="id-size">{{ranking}}</b>
            <img id="image-size" src="{{movie.image_url}}" />
            <div id="text-container">
                <p id="text-box">{{content}}</p>
            </div>

        </div>
    </div>
</article>